<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #89b999"
>
  <a
    class="ms-4 navbar-brand text-black"
    (click)="navegarProductos()"
    style="cursor: pointer"
    ><i class="fa-solid fa-shop me-1"></i>MercaFruve</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ms-5">
        <a
          class="nav-link text-black"
          style="cursor: pointer"
          (click)="navegarProductos()"
          ><i class="fa-solid fa-house me-1"></i>Inicio</a
        >
      </li>
      <li class="nav-item ms-4">
        <a
          class="nav-link text-black"
          style="cursor: pointer"
          (click)="navegarSubastas()"
          ><i class="fa-solid fa-gavel me-1"></i>Subastas</a
        >
      </li>
      <li class="nav-item ms-4">
        <a class="nav-link text-black" style="cursor: pointer">
          <i class="fa-solid fa-question me-1"></i>Sobre nosotros</a
        >
      </li>
    </ul>
  </div>

  <div class="pe-4 user">
    <i
      *ngIf="token"
      class="fa-solid fa-right-from-bracket"
      style="cursor: pointer"
      (click)="logout()"
    ></i>
  </div>
</nav>
